
body{
	margin: 0;
	padding: 0;
	background-color: $blue--dark;

}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


.wrapper{
	margin: 35px;
	display: block;
	background-color: orange;
}